<div class="wrapper wrapper-content animated fadeInRight" ng-controller="SchedulerActionsController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>New Task</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content wizard">

                    <!--STEPS-->
                    <div class="steps clearfix">
                        <ul>
                            <!--GENERAL INFORMATION PAGE-->
                            <li ui-sref-active="current">
                                <a ui-sref=".general-page" class="btn-default"><span>1.</span> General Information</a>
                            </li>

                            <!--CONFIRMATION PAGE-->
                            <li ui-sref-active="current">
                                <a ng-click="next()" class="btn-default"><span>2.</span> Confirmation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wizard">
                        <div class="content">

                            <!--FORM-->
                            <form name="schedulerForm" class="p-lg form-horizontal" novalidate>

                                <!--PAGES-->
                                <div id="form-views" ui-view></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>