<fieldset>
    <h2>General Information</h2>

    <div class="row">
        <div class="col-lg-6">

            <!--NAME-->
            <div class="form-group has-feedback" show-validation>
                <label class="col-sm-3 control-label">{{'NAME' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <input name="name" type="text" class="form-control" ng-model="task.name"
                           required ng-minlength="3" ng-maxlength="45">
                    <div class="m-t-xs" ng-if="schedulerForm.name.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.name.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'NAME' | translate}}">
                        </small>
                        <small class="text-danger" ng-if="schedulerForm.name.$error.maxlength"
                               translate="ERROR_MAX_LENGTH"
                               translate-value-field="{{'USERNAME' | translate}}"
                               translate-value-length="45">
                        </small>
                    </div>
                </div>
            </div>

            <!--START DATE-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'START_DATE' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <div class="input-group date">
                        <input id="startDate" name="startDate" class="form-control" datetime-picker="dd.MM.yyyy"
                               ng-model="task.scheduler_start" is-open="isStartDateOpen"/>
                            <span class="input-group-btn">
                                <button id="startDateButton" type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                            </span>
                    </div>
                    <div class="m-t-xs" ng-if="schedulerForm.startDate.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.startDate.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'START_DATE' | translate}}">
                        </small>
                        <small class="text-danger"
                               ng-if="schedulerForm.startDate.$error && !schedulerForm.startDate.$error.required"
                               translate="ERROR_DATE">
                        </small>
                    </div>
                </div>
            </div>

            <!--START TIME-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'START_TIME' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <!--<div id="startTime" name="startTime" class="input-group" data-autoclose="true">-->
                        <!--<input type="text" class="form-control" ng-value="task.start_time" required>-->
                            <!--<span class="input-group-addon">-->
                                <!--<span class="fa fa-clock-o"></span>-->
                            <!--</span>-->
                    <!--</div>-->
                    <input id="startTime" name="startTime" type="text" class="form-control"
                           ng-model="task.start_time" required>
                    <div class="m-t-xs" ng-if="schedulerForm.startTime.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.startTime.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'START_TIME' | translate}}">
                        </small>
                        <small class="text-danger"
                               ng-if="schedulerForm.startTime.$error && !schedulerForm.startTime.$error.required"
                               translate="ERROR_DATE">
                        </small>
                    </div>
                </div>
            </div>

            <!--INTERVAL-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'INTERVAL' | translate}} (s)</label>
                <div class="col-sm-9 input-group-container">
                    <input id="interval" name="interval" type="number" class="form-control"
                           ng-model="task.interval" ng-maxlength="11" required>
                    <div class="m-t-xs" ng-if="schedulerForm.interval.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.interval.$error.maxlength"
                               translate="ERROR_MAX_LENGTH"
                               translate-value-field="{{'INTERVAL' | translate}}"
                               translate-value-length="11">
                        </small>
                        <small class="text-danger" ng-if="schedulerForm.interval.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'INTERVAL' | translate}}">
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <!--USER-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'USER' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <select id="user" name="user" class="form-control m-b" ng-model="task.user_id" required disabled="true"
                            ng-options="user.id as user.username for user in users | orderBy: 'first_name'">
                    </select>
                    <div class="m-t-xs" ng-if="schedulerForm.user.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.user.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'USER' | translate}}">
                        </small>
                    </div>
                </div>
            </div>

            <!--END DATE-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'END_DATE' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <div class="input-group date">
                        <input id="endDate" name="endDate" class="form-control" datetime-picker="dd.MM.yyyy"
                               ng-model="task.scheduler_end" is-open="isEndDateOpen"/>
                            <span class="input-group-btn">
                                <button id="endDateButton" type="button" class="btn btn-default" ng-click="openCalendar($event, prop)"><i class="fa fa-calendar"></i></button>
                            </span>
                    </div>
                    <div class="m-t-xs" ng-if="schedulerForm.endDate.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.endDate.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'END_DATE' | translate}}">
                        </small>
                        <small class="text-danger"
                               ng-if="schedulerForm.endDate.$error && !schedulerForm.endDate.$error.required"
                               translate="ERROR_DATE">
                        </small>
                    </div>
                </div>
            </div>

            <!--END TIME-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'END_TIME' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <!--<div class="input-group" id="endTime" name="endTime" data-autoclose="true">-->
                        <!--<input type="text" class="form-control" ng-value="task.end_time" required>-->
                            <!--<span class="input-group-addon">-->
                                <!--<span class="fa fa-clock-o"></span>-->
                            <!--</span>-->
                    <!--</div>-->
                    <input id="endTime" name="endTime" type="text" class="form-control"
                           ng-model="task.end_time" required>
                    <div class="m-t-xs" ng-if="schedulerForm.endTime.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.endTime.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'END_TIME' | translate}}">
                        </small>
                        <small class="text-danger"
                               ng-if="schedulerForm.endTime.$error && !schedulerForm.endTime.$error.required"
                               translate="ERROR_DATE">
                        </small>
                    </div>
                </div>
            </div>

            <!--DELTA INTERVAL-->
            <div class="form-group" show-validation>
                <label class="col-sm-3 control-label">{{'DELTA_INTERVAL' | translate}}(s)</label>
                <div class="col-sm-9 input-group-container">
                    <input id="deltaInterval" name="deltaInterval" type="number" class="form-control"
                           ng-model="task.delta_interval" ng-maxlength="11" required>
                    <div class="m-t-xs" ng-if="schedulerForm.deltaInterval.$invalid && schedulerForm.submitted">
                        <small class="text-danger" ng-if="schedulerForm.deltaInterval.$error.maxlength"
                               translate="ERROR_MAX_LENGTH"
                               translate-value-field="{{'DELTA_INTERVAL' | translate}}"
                               translate-value-length="11">
                        </small>
                        <small class="text-danger" ng-if="schedulerForm.deltaInterval.$error.required"
                               translate="ERROR_REQUIRED"
                               translate-value-field="{{'DELTA_INTERVAL' | translate}}">
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a ng-click="next()" class="btn btn-primary">Next</a>
    <a ng-click="closeWizard()" class="btn btn-primary">Cancel</a>
</fieldset>