<!--GATEWAYS PAGE-->
<div class="row wrapper border-bottom white-bg page-heading" ng-if="can('VIEW_GATEWAYS')">
    <div class="col-lg-10">
        <h2>{{'GATEWAYS' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'GATEWAYS' | translate}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<!--LIST OF GATEWAYS-->
<div class="wrapper wrapper-content  animated fadeInRight" ng-if="can('VIEW_GATEWAYS')">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'GATEWAYS' | translate}} </h5>
                    <div class="ibox-tools">
                        <button ng-if="can('CREATE_GATEWAY')" class="btn btn-outline btn-primary btn-xs"
                                ng-click="createGateway()">
                            <i class="fa fa-plus"></i> {{'NEW_GATEWAY' | translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content" st-table="gatewaysTable" st-safe-src="rowCollection">

                    <!--TABLE-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">

                            <!--HEADER-->
                            <thead>
                            <tr>
                                <th colspan="2" st-sort="name">{{'NAME' | translate}}</th>
                                <th st-sort="Country.common_name">{{'LOCATION' | translate}}</th>
                                <th st-sort="description">{{'DESCRIPTION' | translate}}</th>
                                <th st-sort="number_of_channels">{{'NUMBER_OF_CHANNELS' | translate}}</th>
                                <th class="text-right column-tools"></th>
                            </tr>

                            <!--SEARCH PANEL-->
                            <tr>
                                <th colspan="2"><input type="text" st-search="name" class="input-sm form-control"></th>
                                <th><input type="text" st-search="Country.common_name" class="input-sm form-control">
                                </th>
                                <th><input type="text" st-search="description" class="input-sm form-control"></th>
                                <th colspan="2"><input type="text" st-search="number_of_channels"
                                                       class="input-sm form-control"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat-start="gateway in gatewaysTable">
                                <td>
                                    <i class="cursor-hand"
                                       ng-click="expand(gateway.id)"
                                       ng-class="{'fa fa-plus-square-o' : !isExpanded(gateway.id),'fa fa-minus-square-o' : isExpanded(gateway.id)}"></i>
                                </td>
                                <td>{{gateway.name}}</td>
                                <td>{{gateway.Country.common_name}}</td>
                                <td>{{gateway.description}}</td>
                                <td>{{gateway.number_of_channels}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button ng-if="can('UPDATE_GATEWAY')" title="{{'EDIT' | translate}}"
                                                style="margin-right: 2px"
                                                class="btn btn-outline btn-xs" ng-click="updateGateway(gateway)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button ng-if="can('DELETE_GATEWAY')" title="{{'DELETE' | translate}}"
                                                class="btn btn-outline btn-xs"
                                                ng-click="deleteGateway(gateway)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat-end="" ng-show="isExpanded(gateway.id)">
                                <td colspan="10" style="padding-right: 0; background-color: #fff;">
                                    <h4>{{'NUMBERS' | translate}} </h4>
                                    <div class="ibox-content" st-table="numbersTable"
                                         st-safe-src="numbers[gateway.id]"
                                         style="padding-bottom: 0; padding-right: 0; border: none;">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped">

                                                <!--HEADER-->
                                                <thead>
                                                <tr>
                                                    <th st-sort="enabled">{{'STATUS' | translate}}</th>
                                                    <th st-sort="phone_number">{{'PHONE_NUMBER' | translate}}</th>
                                                    <th st-sort="Operator.name">{{'OPERATOR' | translate}}</th>
                                                    <th st-sort="channel_number">{{'CHANNEL_NUMBER' | translate}}</th>
                                                    <th st-sort="type">{{'TYPE' | translate}}</th>
                                                    <th class="text-right column-tools" ng-controller="NumbersController">
                                                        <button ng-if="can('CREATE_NUMBER')" class="btn btn-outline btn-primary btn-xs" ng-click="createNumber(gateway)">
                                                            <i class="fa fa-plus"></i> {{'NEW_NUMBER' | translate}}
                                                        </button>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="number in numbersTable track by number.id">
                                                    <td>
                                                        <span class="label"
                                                              ng-class="{'label-primary': number.enabled == 1, 'label-danger': number.enabled == 0}">
                                                            {{(number.enabled == 1 ? 'ENABLED' : 'DISABLED') | translate}}
                                                        </span>
                                                    </td>
                                                    <td>{{number.phone_number}}</td>
                                                    <td>{{number.Operator.name}}</td>
                                                    <td>{{number.channel_number}}</td>
                                                    <td>{{number.type}}</td>
                                                    <td class="text-right">
                                                        <div class="btn-group" ng-controller="NumbersController">
                                                            <button ng-if="can('UPDATE_NUMBER')"
                                                                    title="{{'EDIT' | translate}}"
                                                                    style="margin-right: 2px"
                                                                    class="btn btn-outline btn-xs"
                                                                    ng-click="updateNumber(number)">
                                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                                            </button>
                                                            <button ng-if="can('DELETE_NUMBER')"
                                                                    title="{{'DELETE' | translate}}"
                                                                    class="btn btn-outline btn-xs"
                                                                    ng-click="deleteNumber(number)">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                            </button>
                                                            <button ng-if="can('ENABLE_DISABLE_NUMBER')"
                                                                    title="{{(number.enabled == 0 ? 'ENABLE': 'DISABLE') | translate}}"
                                                                    ng-click="number.enabled == 0 ? enableNumber(number) : disableNumber(number)"
                                                                    class="btn btn-outline btn-xs">
                                                                <i ng-class="{1:'fa fa-ban', 0:'fa fa-check-circle-o'}[number.enabled]"
                                                                   aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr ng-if="numbersTable.length == 0">
                                                    <td colspan="6" class="text-center no-data">
                                                        <div>No Data</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="text-center">
                                                        <div st-pagination="" st-items-by-page="5"
                                                             st-displayed-pages="7"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="outgoingCallsTable.length == 0">
                                <td colspan="10" class="text-center no-data">
                                    <div>No Data</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="9"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
