<!--SCHEDULER-->
<div class="row wrapper border-bottom white-bg page-heading"
     ng-if="can('VIEW_SCHEDULER')">
    <div class="col-lg-12">
        <h2>{{'SCHEDULER' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'SCHEDULER' | translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight"
     ng-if="can('VIEW_SCHEDULER')">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'SCHEDULED_TASKS' | translate}} </h5>
                    <div class="ibox-tools">
                        <button ng-if="can('CREATE_TASK')" type="button" ng-click="createTask()"
                                class="btn btn-outline btn-primary btn-xs">
                            <i class="fa fa-plus"></i> {{'NEW_TASK' | translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="text-center no-data" ng-show="rowCollection.length == 0">
                        <div>{{'NO_DATA' | translate}}</div>
                    </div>
                    <div class="row">
                        <div ng-repeat="task in rowCollection">
                            <div class="clearfix" ng-if="$index % 4 == 0"></div>
                            <div class="col-lg-3 task-box">
                                <div class="contact-box">
                                    <div class="header">
                                        <span class="text-muted small pull-right">{{task.create_date | date:'dd.MM.yyyy HH:mm:ss'}}</span>
                                        <h3><i class="fa fa-calendar-o"></i> {{task.name}}</h3>
                                    </div>
                                    <ul class="list-unstyled" style="margin-top: 10px;">
                                        <li>
                                            <span class="fa fa-user m-r-xs"></span>
                                            <label>{{'CREATED_BY' | translate}}:</label>
                                            {{task.User.first_name}} {{task.User.last_name}}
                                        </li>
                                        <li>
                                            <span class="fa fa-calendar-o m-r-xs"></span>
                                            <label>{{'START_DATE' | translate}}:</label>
                                            {{task.scheduler_start | date:'dd.MM.yyyy'}}
                                        </li>
                                        <li>
                                            <span class="fa fa-calendar-o m-r-xs"></span>
                                            <label>{{'END_DATE' | translate}}:</label>
                                            {{task.scheduler_end | date:'dd.MM.yyyy'}}
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o m-r-xs"></span>
                                            <label>{{'START_TIME' | translate}}:</label>
                                            {{task.start_time}}
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o m-r-xs"></span>
                                            <label>{{'END_TIME' | translate}}:</label>
                                            {{task.end_time}}
                                        </li>
                                        <li>
                                            <span class="fa fa-long-arrow-right m-r-xs"></span>
                                            <label>{{'INTERVAL' | translate}}:</label>
                                            {{task.interval}} mins +/- {{task.delta_interval}} %
                                        </li>
                                    </ul>

                                    <div class="header">
                                        <h4 style="font-size: 13px"><strong>{{'DAYS'| translate}}</strong></h4>
                                    </div>
                                    <div class="row task">
                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[0]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'MONDAY' | translate}}</label>
                                            </div>
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[1]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'TUESDAY' | translate}}</label>
                                            </div>
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[2]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'WEDNESDAY' | translate}}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[3]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'THURSDAY' | translate}}</label>
                                            </div>
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[4]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'FRIDAY' | translate}}</label>
                                            </div>
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[5]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'SATURDAY' | translate}}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="checkbox checkbox-circle">
                                                <input type="checkbox" ng-checked="task.week_days[6]" ng-true-value="1"
                                                       ng-false-value="0" disabled>
                                                <label>{{'SUNDAY' | translate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="header" style="margin-top: 2px;margin-bottom: 15px">
                                        <h5><strong></strong></h5>
                                    </div>
                                    <div class="progress progress-striped active" ng-show="task.active == 0">
                                        <a class="btn btn-danger" style="width: 100%; height: 3em;  font-size: 18px">Stopped</a>
                                    </div>

                                    <div class="progress progress-striped active" ng-show="task.active == 1">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="35"
                                             aria-valuemin="0"
                                             ng-if="!isExpired(task) && !isRecurring(task)"
                                             aria-valuemax="100" ng-style="{width: getProgressValue(task)+ '%'}">
                                            <span style="font-size: 18px;">{{getProgressValue(task)}}% Complete</span>
                                        </div>
                                        <a class="btn btn-primary" ng-if="isExpired(task)"
                                           style="width: 100%; height: 3em; font-size: 18px">Finished</a>

                                        <a ng-if="isRecurring(task)" class="btn btn-success" style="width: 100%; height: 3em;  font-size: 18px">Recurring task</a>
                                    </div>
                                    <div class="contact-box-footer" style="margin-top: 5px">
                                        <div class="btn-group">
                                            <button title="{{'EDIT' | translate}}"
                                                    style="margin-right: 2px"
                                                    ng-if="can('UPDATE_TASK')"
                                                    ng-click="updateTask(task)"
                                                    class="btn btn-outline btn-xs">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                            <button title="{{'DELETE' | translate}}"
                                                    ng-click="deleteTask(task)"
                                                    ng-if="can('DELETE_TASK')"
                                                    class="btn btn-outline btn-xs">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                            <button title="{{(task.active==1 ? 'STOP': 'START') | translate}}"
                                                    ng-click="task.active==1 ? stopTask(task) : startTask(task)"
                                                    ng-disabled="isExpired(task)"
                                                    ng-if="can('START_STOP_TASK')"
                                                    class="btn btn-outline btn-xs">
                                                <i ng-class="{1:'fa fa-stop', 0:'fa fa-play'}[task.active]"
                                                   aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

