<!--MODAL-->
<div class="new-inmodal">
    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'TICKET' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">
            <!--FORM-->
            <form name="ticketForm" method="get" class="form-horizontal" novalidate>

                <!--STATUS-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'STATUS' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="status" name="status" class="form-control m-b" ng-model="ticket.status_id" required
                                ng-options="status.id as status.name for status in statuses" disabled>
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="ticketForm.status.$invalid && ticketForm.submitted">
                            <small class="text-danger" ng-if="ticketForm.status.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'STATUS' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--CATEGORY-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'CATEGORY' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="category" name="category" class="form-control m-b" ng-model="ticket.category_id" required
                                ng-options="category.id as category.name for category in categories" disabled>
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="ticketForm.category.$invalid && ticketForm.submitted">
                            <small class="text-danger" ng-if="ticketForm.category.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'CATEGORY' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--PRIORITIES-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'PRIORITY' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="priority" name="priority" class="form-control m-b" ng-model="ticket.priority_id" required
                                ng-options="priority.id as priority.name for priority in priorities">
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="ticketForm.priority.$invalid && ticketForm.submitted">
                            <small class="text-danger" ng-if="ticketForm.priority.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'PRIORITY' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--SUBJECT-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'SUBJECT' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="subject" type="text" class="form-control" ng-model="ticket.subject"
                               ng-maxlength="255" required>
                        <div class="m-t-xs" ng-if="ticketForm.subject.$invalid && ticketForm.submitted">
                            <small class="text-danger" ng-if="ticketForm.subject.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'SUBJECT' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="ticketForm.subject.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'SUBJECT' | translate}}"
                                   translate-value-length="255">
                            </small>
                        </div>
                    </div>
                </div>

                <!--DESCRIPTION-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'DESCRIPTION' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <textarea name="description" rows="8" class="form-control custom-control" style="resize:none" ng-model="ticket.description"></textarea>
                        <div class="m-t-xs" ng-if="ticketForm.description.$invalid && ticketForm.submitted">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>