<!DOCTYPE html>
<html ng-app="clipper">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!---PAGE TITLE DIRECTIVE-->
    <title page-title></title>

    <!--EXTERNAL CSS-->
    <link href="external/css/font-awesome.css" rel="stylesheet">
    <link href="external/css/bootstrap.css" rel="stylesheet">
    <link href="external/css/animate.css" rel="stylesheet">
    <link href="external/css/angular-toastr.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/clippy.js/1.0/clippy.min.css" rel="stylesheet">

    <!--PROJECT CSS-->
    <link id="loadBefore" href="style/style.css" rel="stylesheet">
</head>

<body ng-controller="AuthenticationController" class="{{$state.current.data.specialClass}}">

<!--MAIN VIEW-->
<div ui-view></div>

<!--EXTERNAL SCRIPTS-->
<script src="external/js/jquery/jquery.js"></script>
<script src="external/js/jquery/jquery-ui.js"></script>
<script src="external/js/jquery/jquery-metis-menu.js"></script>
<script src="external/js/bootstrap/bootstrap.js"></script>
<script src="external/js/plugins/pace.js"></script>
<script src="external/js/plugins/moment.min.js"></script>
<script src="js/inspinia.js"></script>

<!--ANGULAR SCRIPTS-->
<script src="external/js/angular/angular.js"></script>
<script src="external/js/angular/angular-resource.js"></script>
<script src="external/js/angular/angular-sanitize.js"></script>
<script src="external/js/angular/angular-ui-router.js"></script>
<script src="external/js/angular/angular-translate.js"></script>
<script src="external/js/angular/angular-animate.js"></script>
<script src="external/js/oclazyload/oclazyload.js"></script>
<script src="external/js/bootstrap/ui-bootstrap-tpls.js"></script>
<script src="external/js/plugins/smart-table.js"></script>
<script src="external/js/plugins/satellizer.js"></script>
<script src="external/js/angular/angular-toastr.tpls.js"></script>
<script src="external/js/angular/angular-count-to.min.js"></script>
<script src="external/js/angular/angular-acl.js"></script>
<script src="//cdn.jsdelivr.net/clippy.js/1.0/clippy.min.js"></script>
<script src="../cid_checker/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="../cid_checker/node_modules/chart.js/dist/Chart.min.js"></script>

<!--PROJECT SCRIPTS-->
<script src="js/app.js"></script>
<script src="js/configuration.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>
<script src="js/translations.js"></script>
<script src="js/filters.js"></script>
<script src="js/access-control.js"></script>
</body>
</html>
