<!--MODAL-->
<div class="new-inmodal">
    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 class="modal-title">{{'NEW_RANDOM_CALL' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">

            <!--FORM-->
            <form name="userForm" method="get" class="form-horizontal" novalidate>
                <!--ROLE-->
                <div class="form-group has-feedback" show-validation style="margin-bottom: 5px;">
                    <label class="col-sm-3 control-label">{{'SOURCE_COUNTRY' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select name="sourceCountry"
                                class="form-control input-sm"
                                style="font-weight: normal;">
                            <option value="">Please select</option>
                            <option value="0">Bosnia and Herzegovina</option>
                            <option value="1">Serbia</option>
                        </select>
                        <div style="margin-top: -10px;" ng-show="userForm.role.$invalid && userForm.submitted">
                            <small class="text-danger" ng-show="userForm.role.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'ROLE' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'OK' | translate}}
        </button>
    </div>
</div>