<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 style="font-size: 40px; text-align: center" class="modal-title">{{'CLI_CALL_IN_PROGRESS' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body modal-confirm">
        <div class="row">

            <!--MESSAGE-->
            <p style="font-size: 40px; text-align: center"><i class="fa fa-phone fa-spin"></i> {{progressValue}} </p>
        </div>
    </div>
</div>