<!--MODAL-->
<div class="new-inmodal">
    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 class="modal-title">{{'CALLS' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>{{'OUTGOING_CALLS' | translate}} </h5>
                    </div>
                    <div class="ibox-content" st-table="outgoingCallsTable" st-safe-src="calls">

                        <!--TABLE-->
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">

                                <!--HEADER-->
                                <thead>
                                <tr>
                                    <th colspan="2" st-sort="call_status_id">{{'STATUS' | translate}}</th>
                                    <th st-sort="Call.SourceNumber.phone_number">{{'SOURCE_NUMBER' | translate}}</th>
                                    <th st-sort="Call.SourceNumber.Operator.name">{{'SOURCE_OPERATOR' | translate}}</th>
                                    <th st-sort="Call.DestinationNumber.phone_number">{{'DESTINATION_NUMBER' | translate}}</th>
                                    <th st-sort="Call.DestinationNumber.Operator.name">{{'DESTINATION_OPERATOR' | translate}}</th>
                                    <th st-sort="start_stamp">{{'START_STAMP' | translate}}</th>
                                    <th st-sort="answer_stamp">{{'ANSWER_STAMP' | translate}}</th>
                                    <th st-sort="end_stamp">{{'END_STAMP' | translate}}</th>
                                    <th st-sort="duration">{{'DURATION' | translate}}</th>
                                    <th st-sort="billsec">{{'BILLSEC' | translate}}</th>
                                    <th st-sort="hangup_cause">{{'HANGUP_CAUSE' | translate}}</th>
                                </tr>

                                <!--SEARCH PANEL-->
                                <tr>
                                    <th colspan="2">
                                        <select st-search="call_status_id" class="form-control input-sm" st-input-event="change">
                                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                                            <option ng-repeat="status in callStatuses | orderBy: 'name'" value="{{status.id}}">{{status.name}}</option>
                                        </select>
                                    </th>
                                    <th><input type="text" st-search="Call.SourceNumber.phone_number" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="Call.SourceNumber.Operator.name" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="Call.DestinationNumber.phone_number" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="Call.DestinationNumber.Operator.name" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="start_stamp" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="answer_stamp" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="end_stamp" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="duration" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="billsec" class="input-sm form-control"></th>
                                    <th><input type="text" st-search="hangup_cause" class="input-sm form-control"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat-start="outgoing_call in outgoingCallsTable"
                                    ng-style="outgoing_call.call_status_id == 2 && {'color' : 'red'} || {'color' : ''}">
                                    <td>
                                        <i class="cursor-hand"
                                           ng-click="expand(outgoing_call)"
                                           ng-class="{'fa fa-plus-square-o' : !isExpanded(outgoing_call.uuid),'fa fa-minus-square-o' : isExpanded(outgoing_call.uuid)}"></i>
                                    </td>
                                    <td>
                                    <span class="label" title="{{(outgoing_call.call_status_id ? 'A_NUMBER_CHANGED' : 'NO_CHANGES') | translate}}"
                                          ng-class="{'label-primary': outgoing_call.call_status_id == 1, 'label-danger': outgoing_call.call_status_id == 2,'label-success': outgoing_call.call_status_id == 3}">
                                        {{'CALL_STATE_'.concat(outgoing_call.call_status_id) | translate}}
                                    </span>
                                    </td>
                                    <td>{{outgoing_call.Call.SourceNumber.phone_number}}</td>
                                    <td>{{outgoing_call.Call.SourceNumber.Operator.name}}</td>
                                    <td>{{outgoing_call.Call.DestinationNumber.phone_number}}</td>
                                    <td>{{outgoing_call.Call.DestinationNumber.Operator.name}}</td>
                                    <td>{{outgoing_call.start_stamp}}</td>
                                    <td>{{outgoing_call.answer_stamp}}</td>
                                    <td>{{outgoing_call.end_stamp}}</td>
                                    <td>{{outgoing_call.duration}}</td>
                                    <td>{{outgoing_call.billsec}}</td>
                                    <td>{{outgoing_call.hangup_cause}}</td>
                                </tr>
                                <tr ng-repeat-end=""
                                    ng-show="isExpanded(outgoing_call.uuid)">
                                    <td colspan="12" style="padding-right: 0; background-color: #fff;">
                                        <h4>{{'INCOMING_CALLS' | translate}} </h4>
                                        <div class="ibox-content" st-table="incomingCallsTable"
                                             st-safe-src="incomingCalls[outgoing_call.uuid]"
                                             style="padding-bottom: 0; padding-right: 0; border: none;">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-striped">
                                                    <!--HEADER-->
                                                    <thead>
                                                    <tr>
                                                        <th st-sort="caller_id_number">{{'SOURCE_NUMBER' | translate}}</th>
                                                        <th st-sort="destination_number">{{'DESTINATION_NUMBER' |translate}}</th>
                                                        <th st-sort="start_stamp">{{'START_STAMP' | translate}}</th>
                                                        <th st-sort="answer_stamp">{{'ANSWER_STAMP' | translate}}</th>
                                                        <th st-sort="end_stamp">{{'END_STAMP' | translate}}</th>
                                                        <th st-sort="duration">{{'DURATION' | translate}}</th>
                                                        <th st-sort="billsec">{{'BILLSEC' | translate}}</th>
                                                        <th st-sort="hangup_cause">{{'HANGUP_CAUSE' | translate}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="incoming_call in incomingCallsTable"
                                                        ng-style="incoming_call.a_number == outgoing_call.Call.SourceNumber.phone_number && {'color' : ''} || {'color' : 'red'}">
                                                        <td>{{incoming_call.a_number}}</td>
                                                        <td>{{incoming_call.Call.DestinationNumber.phone_number}}</td>
                                                        <td>{{incoming_call.start_stamp}}</td>
                                                        <td>{{incoming_call.answer_stamp}}</td>
                                                        <td>{{incoming_call.end_stamp}}</td>
                                                        <td>{{incoming_call.duration}}</td>
                                                        <td>{{incoming_call.billsec}}</td>
                                                        <td>{{incoming_call.hangup_cause}}</td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr ng-if="incomingCallsTable.length == 0">
                                                        <td colspan="13" class="text-center no-data">
                                                            <div>No Data</div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="11" class="text-center">
                                                            <div st-pagination="" st-items-by-page="5"
                                                                 st-displayed-pages="7"></div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr ng-if="outgoingCallsTable.length == 0">
                                    <td colspan="12" class="text-center no-data">
                                        <div>No Data</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12" class="text-center">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="9"></div>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--OK-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="cancel()">
            {{'OK' | translate}}
        </button>
    </div>
</div>