<!--MODAL-->
<div class="new-inmodal">
    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'USER' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">
            <!--FORM-->
            <form name="userForm" method="get" class="form-horizontal" novalidate>

                <!-- ROLE -->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'ROLES' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="roles"
                                name="roles" multiple chosen
                                ng-model="selectedRoles"
                                data-placeholder="{{'PLEASE_SELECT' | translate}}"
                                ng-options="role as role.name for role in roles track by role.id"
                                class="chosen-select form-control"
                                required>
                        </select>
                        <div ng-show="userForm.roles.$invalid && userForm.submitted" class="error-container">
                            <small class="text-danger" ng-show="userForm.roles.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'ROLES' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--LANGUAGE-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'DEFAULT_LANGUAGE' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="language" name="language" class="form-control m-b" ng-model="user.default_language_id" required
                                ng-options="language.id as language.name for language in languages | orderBy: 'name'">
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="numberForm.language.$invalid && numberForm.submitted">
                            <small class="text-danger" ng-if="numberForm.language.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'DEFAULT_LANGUAGE' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--USERNAME-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'USERNAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="username" type="text" class="form-control" ng-model="user.username"
                               required ng-minlength="3" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="userForm.username.$invalid && userForm.submitted">
                            <small class="text-danger" ng-if="userForm.username.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'USERNAME' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="userForm.username.$error.minlength"
                                   translate="ERROR_MIN_LENGTH"
                                   translate-value-field="{{'USERNAME' | translate}}"
                                   translate-value-length="3">
                            </small>
                            <small class="text-danger" ng-if="userForm.username.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'USERNAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--PASSWORD-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'PASSWORD' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="user-password" name="password" type="password" class="form-control"
                               ng-model="user.password" required ng-minlength="6" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="userForm.password.$invalid && userForm.submitted">
                            <small class="text-danger" ng-if="userForm.password.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'PASSWORD' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="userForm.password.$error.minlength"
                                   translate="ERROR_MIN_LENGTH"
                                   translate-value-field="{{'PASSWORD' | translate}}"
                                   translate-value-length="6">
                            </small>
                            <small class="text-danger" ng-if="userForm.password.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'PASSWORD' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--CONFIRM PASSWORD-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'RETYPE_PASSWORD' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="checkPassword" type="password" class="form-control"
                               ng-model="user.confirm_password"
                               check-password="user-password" required>
                        <div class="m-t-xs" ng-if="userForm.checkPassword.$invalid &&  userForm.submitted">
                            <small class="text-danger" ng-if="userForm.checkPassword.$error"
                                   translate="ERROR_CONFIRM_PASSWORD">
                            </small>
                        </div>
                    </div>
                </div>

                <!--FIRST NAME-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'FIRST_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="firstName" type="text" class="form-control" ng-model="user.first_name"
                               ng-maxlength="45">
                        <div class="m-t-xs" ng-if="userForm.firstName.$invalid && userForm.submitted">
                            <small class="text-danger" ng-if="userForm.firstName.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'FIRST_NAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--LAST NAME-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'LAST_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="lastName" type="text" class="form-control" ng-model="user.last_name"
                               ng-maxlength="45">
                        <div class="m-t-xs" ng-if="userForm.lastName.$invalid && userForm.submitted">
                            <small class="text-danger" ng-if="userForm.lastName.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'LAST_NAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--EMAIL-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'EMAIL' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="email" type="email" class="form-control" ng-model="user.email" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="userForm.email.$invalid && userForm.submitted">
                            <small class="text-danger" ng-if="userForm.email.$error" translate="ERROR_EMAIL"></small>
                            <small class="text-danger" ng-if="userForm.email.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'EMAIL' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>