<!--COUNTRIES-->
<div class="row wrapper border-bottom white-bg page-heading" ng-if="can('VIEW_COUNTRIES')">
    <div class="col-lg-10">
        <h2>{{'COUNTRIES' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'COUNTRIES' | translate}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight" ng-if="can('VIEW_COUNTRIES')">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'COUNTRIES' | translate}}</h5>
                    <div class="ibox-tools">
                        <button ng-if="can('CREATE_COUNTRY')" class="btn btn-outline btn-primary btn-xs" ng-click="createCountry()">
                            <i class="fa fa-plus"></i> {{'NEW_COUNTRY' | translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content" st-table="countriesTable" st-safe-src="rowCollection">
                    <div class="table-responsive">

                        <!--TABLE-->
                        <table class="wide-table table table-hover table-striped">

                            <!--HEADER-->
                            <thead>
                            <tr>
                                <th st-sort="common_name">{{'COMMON_NAME' | translate}}</th>
                                <th st-sort="capital">{{'CAPITAL' | translate}}</th>
                                <th st-sort="currency_code">{{'CURRENCY_CODE' | translate}}</th>
                                <th st-sort="currency_name">{{'CURRENCY_NAME' | translate}}</th>
                                <th st-sort="itu_code">{{'ITU_CODE' | translate}}</th>
                                <th st-sort="iso_2_name">{{'ISO_2_NAME' | translate}}</th>
                                <th st-sort="iso_3_name">{{'ISO_3_NAME' | translate}}</th>
                                <th st-sort="tld">{{'DOMAIN' | translate}}</th>
                                <th class="text-right column-tools"></th>
                            </tr>

                            <!--SEARCH PANEL-->
                            <tr>
                                <th><input type="text" st-search="common_name" class="input-sm form-control"></th>
                                <th><input type="text" st-search="capital" class="input-sm form-control"></th>
                                <th><input type="text" st-search="currency_code" class="input-sm form-control"></th>
                                <th><input type="text" st-search="currency_name" class="input-sm form-control"></th>
                                <th><input type="text" st-search="itu_code" class="input-sm form-control"></th>
                                <th><input type="text" st-search="iso_2_name" class="input-sm form-control"></th>
                                <th><input type="text" st-search="iso_3_name" class="input-sm form-control"></th>
                                <th colspan="2"><input type="text" st-search="tld" class="input-sm form-control"></th>
                            </tr>
                            </thead>

                            <!--BODY-->
                            <tbody>
                            <tr ng-repeat="country in countriesTable track by country.id">
                                <td>{{country.common_name}}</td>
                                <td>{{country.capital}}</td>
                                <td>{{country.currency_code}}</td>
                                <td>{{country.currency_name}}</td>
                                <td>{{country.itu_code}}</td>
                                <td>{{country.iso_2_name}}</td>
                                <td>{{country.iso_3_name}}</td>
                                <td>{{country.tld}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button ng-if="can('UPDATE_COUNTRY')" title="{{'EDIT' | translate}}" style="margin-right: 2px" class="btn btn-outline btn-xs" ng-click="updateCountry(country)">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button ng-if="can('DELETE_COUNTRY')" title="{{'DELETE' | translate}}" class="btn btn-outline btn-xs" ng-click="deleteCountry(code)">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>

                            <!--FOOTER-->
                            <tfoot>
                            <tr ng-if="countriesTable.length == 0">
                                <td colspan="10" class="text-center no-data">
                                    <div>{{'NO_DATA' | translate}}</div>
                                </td>
                            </tr>

                            <!--PAGING-->
                            <tr>
                                <td colspan="10" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>