<!--OPERATOR CODES-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{'OPERATORS' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'OPERATORS' | translate}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'OPERATORS' | translate}}</h5>
                    <div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs"
                           ng-click="createOperator()"><i class="fa fa-plus"></i> {{'NEW_OPERATOR' | translate}}</a>
                    </div>
                </div>
                <div class="ibox-content" st-table="operatorsTable" st-safe-src="rowCollection">

                    <!--TABLE-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">

                            <!--HEADER-->
                            <thead>
                            <tr>
                                <th colspan="2" st-sort="country">{{'COUNTRY' | translate}}</th>
                                <th st-sort="name">{{'NAME' | translate}}</th>
                                <th st-sort="Country.itu_code">{{'COUNTRY_CODE' | translate}}</th>
                                <th class="text-right column-tools"></th>
                            </tr>

                            <!--SEARCH PANEL-->
                            <tr>
                                <th colspan="2">
                                    <input type="text" st-search="country" class="input-sm form-control">
                                </th>
                                <th><input type="text" st-search="name" class="input-sm form-control"></th>
                                <th colspan="2">
                                    <input type="text" st-search="Country.itu_code" class="input-sm form-control">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat-start="operator in operatorsTable track by operator.id">
                                <td>
                                    <i class="cursor-hand"
                                       ng-click="expand(operator.id)"
                                       ng-class="{'fa fa-plus-square-o' : !isExpanded(operator.id), 'fa fa-minus-square-o' : isExpanded(operator.id)}"></i>
                                </td>
                                <td>{{operator.Country.common_name}}</td>
                                <td>{{operator.name}}</td>
                                <td>{{operator.Country.itu_code}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button class="btn btn-white btn-xs" ng-click="updateOperator(operator)">
                                            {{'EDIT' | translate}}
                                        </button>
                                        <button class="btn btn-white btn-xs" ng-click="deleteOperator(operator)">
                                            {{'DELETE' | translate}}
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat-end="" ng-show="isExpanded(operator.id)">
                                <td colspan="6" style="padding-right: 0; background-color: #fff;">
                                    <div class="ibox-content" st-table="operatorCodesTable"
                                         st-safe-src="operatorCodes[operator.id]"
                                         style="padding-bottom: 0; padding-right: 0; border: none;">
                                        <div class="table-responsive" ng-controller="OperatorCodesController">
                                            <table class="table table-hover table-striped">
                                                <!--HEADER-->
                                                <thead>
                                                <tr>
                                                    <th>{{'PREFIX' | translate}}</th>
                                                    <th>{{'DESCRIPTION' | translate}}</th>
                                                    <th>{{'MIN_DIGITS' | translate}}</th>
                                                    <th>{{'MAX_DIGITS' | translate}}</th>
                                                    <th>{{'PROPER' | translate}}</th>
                                                    <th class="text-right column-tools">
                                                        <a href="" class="btn btn-primary btn-xs"
                                                           ng-click="createOperatorCode(operator.id)">
                                                            <i class="fa fa-plus"></i>
                                                            {{'NEW_OPERATOR_CODE' | translate}}
                                                        </a>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="code in operatorCodesTable track by code.id">
                                                    <td>{{code.prefix}}</td>
                                                    <td>{{code.description}}</td>
                                                    <td>{{code.min_digit}}</td>
                                                    <td>{{code.max_digit}}</td>
                                                    <td ng-if="code.proper == 0">{{'NO' | translate}}</td>
                                                    <td ng-if="code.proper == 1">{{'YES' | translate}}</td>
                                                    <td ng-if="code.proper == undefined"></td>
                                                    <td class="text-right">
                                                        <div class="btn-group">
                                                            <button class="btn btn-white btn-xs"
                                                                    ng-click="updateOperatorCode(code)">
                                                                {{'EDIT' | translate}}
                                                            </button>
                                                            <button class="btn btn-white btn-xs"
                                                                    ng-click="deleteOperatorCode(code)">
                                                                {{'DELETE' | translate}}
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr ng-if="operatorCodesTable.length == 0">
                                                    <td colspan="6" class="text-center no-data">
                                                        <div>No Data</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="6" class="text-center">
                                                        <div st-pagination="" st-items-by-page="5"
                                                             st-displayed-pages="7"></div>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="operatorsTable.length == 0">
                                <td colspan="5" class="text-center no-data">
                                    <div>No Data</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>