<!--DASHBOARD-->
<div class="row wrapper border-bottom white-bg page-heading"
     ng-if="can('VIEW_DASHBOARD')">
    <div class="col-lg-10">
        <h2>{{'DASHBOARD' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'DASHBOARD' | translate}}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2" style="padding-top: 30px;">
        <form name="operatorForm" method="get" class="form-horizontal">

            <!--COUNTRY-->
            <div class="form-group">
                <label class="col-sm-3 control-label">{{'OPERATOR' | translate}}</label>
                <div class="col-sm-9 input-group-container">
                    <select id="operator" name="operator" class="form-control input-sm" style="font-weight: normal"
                            ng-model="operator"
                            ng-change="changeOperator(operator)"
                            ng-disabled="operators.length == 1"
                            ng-options="operator as operator.name group by operator.Country.common_name for operator in operators | orderBy: 'Country.common_name'">
                        <option value="">Please select</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight"
     ng-if="can('VIEW_DASHBOARD')">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <a title="{{'CLICK_AND_CHECK_CALLS'| translate}}" class="text-primary" ng-click="getCalls('date')">
                        <h3>{{'TODAY' | translate}}</h3></a>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="text-center canvas-holder">
                            <label ng-if="!data['date'].hasData" class="chart-title">{{'NO_DATA' | translate}}</label>
                            <canvas class="chart chart-doughnut" chart-colors="colours" chart-options="options"
                                    chart-data="data['date'].values" chart-labels="statuses">
                            </canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center text-navy">
                            <h3>{{'CORRECT' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['date'].values[0]}}</h2>
                        </div>
                        <div class="col-sm-4  text-center text-danger">
                            <h3>{{'FRAUD' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['date'].values[1]}}</h2>
                        </div>
                        <div class="col-sm-4  text-center text-success">
                            <h3>{{'UNSUCCESSFUL' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['date'].values[2]}}</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'OPERATORS' | translate}}</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" st-table="dateOperatorStatTable"
                     st-safe-src="operatorStat['date']">
                    <div class="table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>{{'NAME' | translate}}</th>
                                <th>{{'CORRECT' | translate}}</th>
                                <th>{{'FRAUD' | translate}}</th>
                                <th>{{'UNSUCCESSFUL' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="operatorStat in dateOperatorStatTable">
                                <td>{{operatorStat.operator_name}}</td>
                                <td class="text-navy">{{operatorStat.count_correct}}</td>
                                <td class="text-danger">{{operatorStat.count_fraud}}</td>
                                <td class="text-success">{{operatorStat.count_unsuccessful}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="operatorStat['date'].length == 0">
                                <td colspan="10" class="text-center no-data">
                                    <div>No Data</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <a title="{{'CLICK_AND_CHECK_CALLS'| translate}}" class="text-primary" ng-click="getCalls('week')">
                        <h3>{{'THIS_WEEK' | translate}}</h3></a>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="text-center canvas-holder">
                            <label ng-if="!data['week'].hasData" class="chart-title">{{'NO_DATA' | translate}}</label>
                            <canvas class="chart chart-doughnut" chart-colors="colours"
                                    chart-data="data['week'].values" chart-labels="statuses">
                            </canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center text-navy">
                            <h3>{{'CORRECT' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['week'].values[0]}}</h2>
                        </div>
                        <div class="col-sm-4 text-center text-danger">
                            <h3>{{'FRAUD' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['week'].values[1]}}</h2>
                        </div>
                        <div class="col-sm-4 text-center text-success">
                            <h3>{{'UNSUCCESSFUL' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['week'].values[2]}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'OPERATORS' | translate}}</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" st-table="weekOperatorStatTable"
                     st-safe-src="operatorStat['week']">
                    <div class="table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>{{'NAME' | translate}}</th>
                                <th>{{'CORRECT' | translate}}</th>
                                <th>{{'FRAUD' | translate}}</th>
                                <th>{{'UNSUCCESSFUL' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="operatorStat in weekOperatorStatTable">
                                <td>{{operatorStat.operator_name}}</td>
                                <td class="text-navy">{{operatorStat.count_correct}}</td>
                                <td class="text-danger">{{operatorStat.count_fraud}}</td>
                                <td class="text-success">{{operatorStat.count_unsuccessful}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="weekOperatorStatTable.length == 0">
                                <td colspan="10" class="text-center no-data">
                                    <div>No Data</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <a title="{{'CLICK_AND_CHECK_CALLS'| translate}}" class="text-primary" ng-click="getCalls('month')">
                        <h3>{{'THIS_MONTH' | translate}}</h3></a>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="text-center canvas-holder">
                            <label ng-if="!data['month'].hasData" class="chart-title">{{'NO_DATA' | translate}}</label>
                            <canvas class="chart chart-doughnut" chart-colors="colours"
                                    chart-data="data['month'].values" chart-labels="statuses">
                            </canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center text-navy">
                            <h3>{{'CORRECT' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['month'].values[0]}}</h2>
                        </div>
                        <div class="col-sm-4 text-center text-danger">
                            <h3>{{'FRAUD' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['month'].values[1]}}</h2>
                        </div>
                        <div class="col-sm-4 text-center text-success">
                            <h3>{{'UNSUCCESSFUL' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['month'].values[2]}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'OPERATORS' | translate}}</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" st-table="monthOperatorStatTable"
                     st-safe-src="operatorStat['month']">
                    <div class="table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>{{'NAME' | translate}}</th>
                                <th>{{'CORRECT' | translate}}</th>
                                <th>{{'FRAUD' | translate}}</th>
                                <th>{{'UNSUCCESSFUL' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="operatorStat in monthOperatorStatTable">
                                <td>{{operatorStat.operator_name}}</td>
                                <td class="text-navy">{{operatorStat.count_correct}}</td>
                                <td class="text-danger">{{operatorStat.count_fraud}}</td>
                                <td class="text-success">{{operatorStat.count_unsuccessful}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="monthOperatorStatTable.length == 0">
                                <td colspan="10" class="text-center no-data">
                                    <div>No Data</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title text-center">
                    <a title="{{'CLICK_AND_CHECK_CALLS'| translate}}" lass="text-primary" ng-click="getCalls('year')">
                        <h3>{{'THIS_YEAR' | translate}}</h3></a>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="text-center canvas-holder">
                            <label ng-if="!data['year'].hasData" class="chart-title">{{'NO_DATA' | translate}}</label>
                            <canvas class="chart chart-doughnut" chart-colors="colours"
                                    chart-data="data['year'].values" chart-labels="statuses">
                            </canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-center text-navy">
                            <h3>{{'CORRECT' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['year'].values[0]}}</h2>
                        </div>
                        <div class="col-sm-4 text-center text-danger">
                            <h3>{{'FRAUD' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['year'].values[1]}}</h2>
                        </div>
                        <div class="col-sm-4 text-center text-success">
                            <h3>{{'UNSUCCESSFUL' | translate}}</h3>
                            <h2><i class="fa fa-phone"></i> {{data['year'].values[2]}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'OPERATORS' | translate}}</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content" st-table="yearOperatorStatTable"
                     st-safe-src="operatorStat['year']">
                    <div class="table-responsive">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>{{'NAME' | translate}}</th>
                                <th>{{'CORRECT' | translate}}</th>
                                <th>{{'FRAUD' | translate}}</th>
                                <th>{{'UNSUCCESSFUL' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="operatorStat in yearOperatorStatTable">
                                <td>{{operatorStat.operator_name}}</td>
                                <td class="text-navy">{{operatorStat.count_correct}}</td>
                                <td class="text-danger">{{operatorStat.count_fraud}}</td>
                                <td class="text-success">{{operatorStat.count_unsuccessful}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="yearOperatorStatTable.length == 0">
                                <td colspan="10" class="text-center no-data">
                                    <div>No Data</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div>
                        <h3 class="font-bold no-margins">
                            {{'MONTHLY_GRAPH' | translate}}
                        </h3>
                    </div>
                    <div class="m-t-sm">
                        <div class="row">
                            <canvas id="line" class="chart chart-line" chart-data="data.values"
                                    chart-colors="colours" height="100" chart-labels="data.labels" chart-series="statuses"
                                    chart-click="onClick">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="false">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom responsive table </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-9 m-b-xs">
                            <div data-toggle="buttons" class="btn-group">
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option1" name="options">
                                    Day </label>
                                <label class="btn btn-sm btn-white active"> <input type="radio" id="option2"
                                                                                   name="options"> Week </label>
                                <label class="btn btn-sm btn-white"> <input type="radio" id="option3" name="options">
                                    Month </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Search"
                                                            class="input-sm form-control"> <span
                                    class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>

                                <th>#</th>
                                <th>Project</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Company</th>
                                <th>Completed</th>
                                <th>Task</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Project
                                    <small>This is example of project</small>
                                </td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td>
                                    <pie-chart data="PieChart5.data" options="PieChart5.options"></pie-chart>
                                </td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td>
                                    <pie-chart data="PieChart4.data" options="PieChart4.options"></pie-chart>
                                </td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Betha project</td>
                                <td>John Smith</td>
                                <td>0800 1111</td>
                                <td>Erat Volutpat</td>
                                <td>
                                    <pie-chart data="PieChart3.data" options="PieChart3.options"></pie-chart>
                                </td>
                                <td>75%</td>
                                <td>Jul 18, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td>
                                    <pie-chart data="PieChart6.data" options="PieChart6.options"></pie-chart>
                                </td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td>
                                    <pie-chart data="PieChart.data" options="PieChart.options"></pie-chart>
                                </td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Project
                                    <small>This is example of project</small>
                                </td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td>
                                    <pie-chart data="PieChart4.data" options="PieChart4.options"></pie-chart>
                                </td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td>
                                    <pie-chart data="PieChart3.data" options="PieChart3.options"></pie-chart>
                                </td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Project
                                    <small>This is example of project</small>
                                </td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td>
                                    <pie-chart data="PieChart2.data" options="PieChart2.options"></pie-chart>
                                </td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td>
                                    <pie-chart data="PieChart6.data" options="PieChart6.options"></pie-chart>
                                </td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Betha project</td>
                                <td>John Smith</td>
                                <td>0800 1111</td>
                                <td>Erat Volutpat</td>
                                <td>
                                    <pie-chart data="PieChart5.data" options="PieChart5.options"></pie-chart>
                                </td>
                                <td>75%</td>
                                <td>Jul 18, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td>
                                    <pie-chart data="PieChart4.data" options="PieChart4.options"></pie-chart>
                                </td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Alpha project</td>
                                <td>Alice Jackson</td>
                                <td>0500 780909</td>
                                <td>Nec Euismod In Company</td>
                                <td>
                                    <pie-chart data="PieChart.data" options="PieChart.options"></pie-chart>
                                </td>
                                <td>40%</td>
                                <td>Jul 16, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Project
                                    <small>This is example of project</small>
                                </td>
                                <td>Patrick Smith</td>
                                <td>0800 051213</td>
                                <td>Inceptos Hymenaeos Ltd</td>
                                <td>
                                    <pie-chart data="PieChart3.data" options="PieChart3.options"></pie-chart>
                                </td>
                                <td>20%</td>
                                <td>Jul 14, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gamma project</td>
                                <td>Anna Jordan</td>
                                <td>(016977) 0648</td>
                                <td>Tellus Ltd</td>
                                <td>
                                    <pie-chart data="PieChart2.data" options="PieChart2.options"></pie-chart>
                                </td>
                                <td>18%</td>
                                <td>Jul 22, 2013</td>
                                <td><a href="#"><i class="fa fa-check text-navy"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>