<!--ROLES AND PRIVILEGES-->
<div class="row wrapper border-bottom white-bg page-heading" ng-if="can('VIEW_ROLES_AND_PRIVILEGES')">
    <div class="col-lg-12">
        <h2>{{'ROLES_AND_PRIVILEGES' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'ROLES_AND_PRIVILEGES' | translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-if="can('VIEW_ROLES_AND_PRIVILEGES')">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>{{'COMING_SOON' | translate}}</h1>
            </div>
        </div>
    </div>
</div>

