<!--PAGING-->
<div class="paging-component" ng-if="pages.length >= 2">
    <ul class="pagination">
        <li ng-disabled="currentPage == 1">
            <a ng-click="selectPage(1)">&lt;&lt;</a>
        </li>
        <li ng-disabled="currentPage == 1">
            <a ng-click="selectPage(currentPage-1)">&lt;</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}">
            <a ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li ng-disabled="currentPage == numPages">
            <a ng-click="selectPage(currentPage+1)">></a>
        </li>
        <li ng-disabled="currentPage == numPages">
            <a ng-click="selectPage(numPages)">>></a>
        </li>
    </ul>
</div>
