<!--CONTENT-->
<div id="wrapper" ng-show="authenticated">

    <!--SIDE NAVIGATION PANEL-->
    <div ng-include="'views/common/navigation.html'"></div>

    <!--PAGE WRAPPER-->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!--TOP NAVIGATION BAR-->
        <div ng-include="'views/common/top-navigation-bar.html'"></div>

        <!--MAIN VIEW-->
        <div ui-view></div>

        <!--FOOTER-->
        <div ng-include="'views/common/footer.html'"></div>

    </div>
</div>