<!--NAVIGATION MENU-->
<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="AuthenticationController">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align: center;">
                    <img alt="image" class="img-circle" src="style/icons/administrator.png"
                         style="background-color: #1ab394; border: 5px solid #1ab394;"/>
                    <a class="dropdown-toggle" href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" ng-if="currentUser.first_name && currentUser.last_name">
                                        {{currentUser.first_name}} {{currentUser.last_name}}
                                    </strong>
                                    <strong class="font-bold"
                                            ng-if="!(currentUser.first_name && currentUser.last_name)">
                                        {{currentUser.username}}
                                    </strong>
                                </span>
                                <span title="{{currentUser.role_names}}" class="text-muted text-xs block">{{currentUser.role_names | commacut}}</span>
                            </span>
                    </a>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" src="style/icons/logo_70x70.png" style="width: 25px;"/>
                </div>
            </li>

            <!--MENU-->
            <!--DASHBOARD-->
            <li ui-sref-active="active" ng-cloak ng-if="can('VIEW_DASHBOARD')">
                <a ui-sref="index.dashboard"><i class="fa fa-line-chart"></i>
                    <span class="nav-label">{{'DASHBOARD' | translate}}</span> </a>
            </li>

            <!--CALLS-->
            <li ui-sref-active="active" ng-cloak ng-if="can('VIEW_CALLS')">
                <a ui-sref="index.calls"><i class="fa fa-phone"></i>
                    <span class="nav-label">{{'CALLS' | translate}}</span></a>
            </li>

            <!--SCHEDULER-->
            <li ui-sref-active="active" ng-cloak ng-if="can('VIEW_SCHEDULER')">
                <a ui-sref="index.scheduler"><i class="fa fa-calendar-o"></i>
                    <span class="nav-label">{{'SCHEDULER' | translate}}</span></a>
            </li>

            <!--ORDERS-->
            <li ui-sref-active="active" ng-cloak ng-if="can('VIEW_ORDERS')">
                <a ui-sref="index.orders"><i class="fa fa-shopping-cart"></i>
                    <span class="nav-label">{{'ORDERS' | translate}}</span></a>
            </li>

            <!--TICKETS-->
            <li ui-sref-active="active" ng-class="{active: $state.includes('index.tickets') || $state.includes('index.ticketsDetail')}" ng-cloak ng-if="can('VIEW_TICKETS')">
                <a ui-sref="index.tickets"><i class="fa fa-ticket"></i>
                    <span class="nav-label">{{'TICKETS' | translate}}</span></a>
            </li>

            <!--ADMINISTRATION-->
            <li ng-show="can('VIEW_ADMINISTRATION')" ng-class="{active: $state.includes('index.administration') || $state.includes('index.countries') ||
                $state.includes('index.operators') || $state.includes('index.gateways') ||
                $state.includes('index.users') || $state.includes('index.roles-privileges') ||
                $state.includes('index.management')}">
                <a><i class="fa fa-cogs"></i>
                    <span class="nav-label">{{'ADMINISTRATION' | translate}}</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse"
                    ng-class="{in: $state.includes('index.administration') || $state.includes('index.countries') ||
                    $state.includes('index.users') || $state.includes('index.operators') ||
                    $state.includes('index.gateways') || $state.includes('index.roles-privileges') ||
                    $state.includes('index.management')}">
                    <li ng-cloak ng-if="can('VIEW_USERS')" ui-sref-active="active"><a ui-sref="index.users"><i class="fa fa-user"></i>{{'USERS' | translate}}</a></li>
                    <li ng-cloak ng-if="can('VIEW_COUNTRIES')" ui-sref-active="active"><a ui-sref="index.countries"><i class="fa fa-globe"></i>{{'COUNTRIES' | translate}}</a></li>
                    <li ng-cloak ng-if="can('VIEW_OPERATORS')" ui-sref-active="active"><a ui-sref="index.operators"><i class="fa fa-building"></i>{{'OPERATORS' | translate}}</a></li>
                    <li ng-cloak ng-if="can('VIEW_GATEWAYS')" ui-sref-active="active"><a ui-sref="index.gateways"><i class="fa fa-sitemap"></i>{{'GATEWAYS' | translate}}</a></li>
                    <li ng-cloak ng-if="can('VIEW_ROLES_AND_PRIVILEGES')" ui-sref-active="active"><a ui-sref="index.roles-privileges"><i class="fa fa-key"></i>{{'ROLES_AND_PRIVILEGES' | translate}}</a></li>
                    <li ng-cloak ng-if="can('VIEW_MANAGEMENT')" ui-sref-active="active"><a ui-sref="index.management"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{{'MANAGEMENT' | translate}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>