<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">

            <!--CONFIGURATION-->
            <li ng-controller="AuthenticationController" ng-if="can('VIEW_CONFIGURATION')"><a ui-sref="index.configuration"><i class="fa fa-cog fa-spin"></i> {{'CONFIGURATION' | translate}}</a></li>

            <!--LANGUAGES-->
            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle count-info" href uib-dropdown-toggle><i class="fa fa-globe"></i>{{'LANGUAGE' | translate}}</a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs" ng-controller="TranslateController">
                    <li><a ng-click="changeLanguage('en')"><img src="style/icons/flags/United-States.png"/> English</a></li>
                    <li><a ng-click="changeLanguage('sl')"><img src="style/icons/flags/Slovenia.png"/> Slovenski</a></li>
                    <!--<li><a ng-click="changeLanguage('de')"><img src="style/icons/flags/Germany.png"/> Deutsch</a></li>-->
                    <!--<li><a ng-click="changeLanguage('sr')"><img src="style/icons/flags/Serbia.png"/> Srpski</a></li>-->
                </ul>
            </li>

            <!--LOG OUT-->
            <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> {{'LOG_OUT' | translate}}</a></li>
        </ul>
    </nav>
</div>