<!--USERS PAGE-->
<div class="row wrapper border-bottom white-bg page-heading" ng-if="can('VIEW_USERS')">
    <div class="col-lg-10">
        <h2>{{'USERS' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'USERS' | translate}}</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight" ng-if="can('VIEW_USERS')">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'USERS' | translate}}</h5>
                    <div class="ibox-tools">
                        <button ng-if="can('CREATE_USER')" class="btn btn-outline btn-primary btn-xs pull-right"
                                ng-click="createUser()">
                            <i class="fa fa-plus"></i> {{'NEW_USER' | translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content" st-table="usersTable" st-safe-src="rowCollection">

                    <!--TABLE-->
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">

                            <!--HEADER-->
                            <thead>
                            <tr>
                                <th st-sort="UserStatus.name">{{'STATUS' | translate}}</th>
                                <th st-sort="username">{{'USERNAME' | translate}}</th>
                                <th st-sort="first_name">{{'FIRST_NAME' | translate}}</th>
                                <th st-sort="last_name">{{'LAST_NAME' | translate}}</th>
                                <th st-sort="email">{{'EMAIL' | translate}}</th>
                                <th st-sort="user.role_names">{{'ROLES' | translate}}</th>
                                <th class="text-right column-tools"></th>
                            </tr>

                            <!--SEARCH PANEL-->
                            <tr>
                                <th>
                                    <select st-search="UserStatus.name" class="form-control input-sm"
                                            st-input-event="change">
                                        <option value="">{{'PLEASE_SELECT' | translate}}</option>
                                        <option ng-repeat="status in userStatuses | orderBy: 'name'"
                                                value="{{status.name}}">{{status.name}}
                                        </option>
                                    </select>
                                </th>
                                <th><input type="text" st-search="username" class="input-sm form-control"></th>
                                <th><input type="text" st-search="first_name" class="input-sm form-control"></th>
                                <th><input type="text" st-search="last_name" class="input-sm form-control"></th>
                                <th><input type="text" st-search="email" class="input-sm form-control"></th>
                                <th colspan="2">
                                    <input type="text" st-search="user.role_names" class="input-sm form-control">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in usersTable track by user.id">
                                <td>
                                    <span class="label"
                                          ng-class="{'label-primary': user.user_status_id == 1, 'label-danger': user.user_status_id == 2}">
                                        {{user.UserStatus.name}}
                                    </span>
                                </td>
                                <td>{{user.username}}</td>
                                <td>{{user.first_name}}</td>
                                <td>{{user.last_name}}</td>
                                <td><a ng-href="mailto:{{user.email}}">{{user.email}}</a></td>
                                <td>{{user.role_names}}</td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button ng-if="can('UPDATE_USER')" title="{{'EDIT' | translate}}"
                                                style="margin-right: 2px" class="btn btn-outline btn-xs"
                                                ng-click="updateUser(user)">
                                            <i class="fa fa-pencil" aria-hidden="true"> </i>
                                        </button>
                                        <button ng-if="can('LOCK_UNLOCK_USER')"
                                                title="{{(user.user_status_id != 2 ? 'LOCK': 'UNLOCK') | translate}}"
                                                ng-click="user.user_status_id != 2 ? lockUser(user) : unlockUser(user)"
                                                class="btn btn-outline btn-xs">
                                            <i ng-class="{1:'fa fa-lock', 2:'fa fa-unlock'}[user.user_status_id]"
                                               aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-if="usersTable.length == 0">
                                <td colspan="8" class="text-center no-data">
                                    <div>{{'NO_DATA' | translate}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-center">
                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>