<div class="container">
    <div class="middle-box text-center loginscreen  animated rotateln">
        <div>
            <!--LOGIN FORM-->
            <form class="m-t" role="form" ng-submit="login()">

                <div style="color: #18a689; font-size: 50px;">
                    <img ng-src="style/icons/phone-inspector.png" style=" width: 100%; padding-top: 150px"/>
                    <!--NAPRAVITI CSS KALSU-->
                </div>

                <!--USERNAME-->
                <div class="form-group input-group margin-bottom-sm">
                    <span class="input-group-addon span-primary"><i class="fa fa-male fa-fw"></i></span>
                    <input type="text" class="form-control" required=""
                           placeholder="{{'USERNAME' | translate}}" ng-model="username">
                </div>

                <!--PASSWORD-->
                <div class="form-group input-group">
                    <span class="input-group-addon span-primary"><i class="fa fa-key fa-fw"></i></span>
                    <input type="password" class="form-control" required=""
                           placeholder="{{'PASSWORD' | translate}}" ng-model="password">
                </div>

                <!--LOGIN BUTTON-->
                <button type="submit" ng-disabled="submitDisabled"
                        class="btn btn-primary block full-width m-b">{{'LOGIN' | translate}}
                </button>

                <div class="alert alert-warning" ng-if="errorMessage" ng-bind-html="errorMessage | translate | encoding">
                </div>
            </form>
        </div>
    </div>
</div>