<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">

        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'GATEWAY' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">

            <!--FORM-->
            <form id="gatewayForm" name="gatewayForm" role="form" method="get" class="form-horizontal">

                <!--LOCATION-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'LOCATION' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="location" name="location" class="form-control"
                                ng-model="gateway.location_id"
                                ng-options="country.id as country.common_name for country in countries | orderBy: 'common_name'"
                                required>
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="gatewayForm.location.$invalid && gatewayForm.submitted">
                            <small class="text-danger" ng-if="gatewayForm.location.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'LOCATION' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--NAME-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container" ng-maxlength="45">
                        <input id="name" name="name" type="text" class="form-control" ng-model="gateway.name" required ng-maxlength="45">

                        <div class="m-t-xs" ng-if="gatewayForm.name.$invalid && gatewayForm.submitted">
                            <small class="text-danger" ng-if="gatewayForm.name.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'NAME' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="gatewayForm.name.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'NAME' | translate}}"
                                   translate-value-length="45"></small>
                        </div>
                    </div>
                </div>

                <!--DESCRIPTION-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'DESCRIPTION' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="description" name="description" type="text" class="form-control" ng-model="gateway.description" ng-maxlength="256">
                        <div class="m-t-xs" ng-if="gatewayForm.description.$invalid && gatewayForm.submitted">
                            <small class="text-danger" ng-if="gatewayForm.description.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'DESCRIPTION' | translate}}"
                                   translate-value-length="256"></small>
                        </div>
                    </div>
                </div>

                <!--NUMBER OF CHANNELS-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'NUMBER_OF_CHANNELS' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="number_of_channels" name="number_of_channels" type="number" class="form-control"
                               ng-model="gateway.number_of_channels" ng-minlength="1" ng-maxlength="10" required>
                        <div class="m-t-xs" ng-if="gatewayForm.number_of_channels.$invalid && gatewayForm.submitted">
                            <small class="text-danger"
                                   ng-if="gatewayForm.number_of_channels.$error && !gatewayForm.number_of_channels.$error.maxlength && !gatewayForm.number_of_channels.$error.required"
                                   translate="ERROR_NUMBER">
                            </small>
                            <small class="text-danger" ng-if="gatewayForm.number_of_channels.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'NUMBER_OF_CHANNELS' | translate}}"
                                   translate-value-length="10">
                            </small>
                            <small class="text-danger" ng-if="gatewayForm.number_of_channels.$error.minlength"
                                   translate="ERROR_MIN_LENGTH"
                                   translate-value-field="{{'NUMBER_OF_CHANNELS' | translate}}"
                                   translate-value-length="1">
                            </small>
                            <small class="text-danger" ng-if="gatewayForm.number_of_channels.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'NUMBER_OF_CHANNELS' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">

        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'CANCEL' | translate}}</button>

        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'SAVE' | translate}}</button>
    </div>
</div>