<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">

        <!--TITLE-->
        <h4 class="modal-title">{{'CONFIRM' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body modal-confirm">
        <div class="row">

            <!--MESSAGE-->
            <p ng-show="actionType=='delete'">{{'DELETE_MESSAGE' | translate}} <strong>{{number.phone_number}}</strong>?</p>
            <p ng-show="actionType=='enable'">{{'ENABLE_MESSAGE' | translate}} <strong>{{number.phone_number}}</strong>?</p>
            <p ng-show="actionType=='disable'">{{'DISABLE_MESSAGE' | translate}} <strong>{{number.phone_number}}</strong>?</p>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">

        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'CANCEL' | translate}}</button>

        <!--OK-->
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'OK' | translate}}</button>
    </div>
</div>