<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">

        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'NUMBER' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">

            <!--FORM-->
            <form id="numberForm" name="numberForm" method="get" class="form-horizontal">

                <!--GATEWAY-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'GATEWAY' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="gateway" name="gateway" class="form-control m-b" ng-model="number.gateway_id"
                                required disabled="true"
                                ng-options="gateway.id as gateway.name for gateway in gateways | orderBy: 'name'">
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="numberForm.gateway.$invalid && numberForm.submitted">
                            <small class="text-danger" ng-if="numberForm.gateway.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'GATEWAY' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--OPERATOR-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'OPERATOR' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="operator" name="operator" class="form-control m-b" ng-model="number.operator_id"
                                required
                                ng-options="operator.id as operator.name for operator in operators | orderBy: 'name'">
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="numberForm.operator.$invalid && numberForm.submitted">
                            <small class="text-danger" ng-if="numberForm.operator.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'OPERATOR' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>


                <!--CHANNEL NUMBER-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'CHANNEL_NUMBER' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="channelNumber" name="channelNumber" class="form-control m-b"
                                ng-model="number.channel_number" required
                                ng-options="channel as channel for channel in channel_numbers | orderBy: channel">
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="numberForm.channelNumber.$invalid && numberForm.submitted">
                            <small class="text-danger" ng-if="numberForm.channelNumber.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'CHANNEL_NUMBER' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--TYPE-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'TYPE' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="type" name="type" class="form-control m-b" ng-model="number.type" required>
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                            <option value="in">{{'IN' | translate}}</option>
                            <option value="out">{{'OUT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="numberForm.type.$invalid && numberForm.submitted">
                            <small class="text-danger" ng-if="numberForm.type.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'TYPE' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--PHONE NUMBER-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'PHONE_NUMBER' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="phoneNumber" name="phoneNumber" type="text" class="form-control"
                               ng-model="number.phone_number"
                               ng-maxlength="45" required
                               ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/">
                        <div class="m-t-xs" ng-if="numberForm.phoneNumber.$invalid && numberForm.submitted">
                            <small class="text-danger"
                                   ng-if="numberForm.phoneNumber.$error && !numberForm.phoneNumber.$error.maxlength && !numberForm.phoneNumber.$error.required"
                                   translate="ERROR_PHONE_NUMBER">
                            </small>
                            <small class="text-danger" ng-if="numberForm.phoneNumber.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'PHONE_NUMBER' | translate}}"
                                   translate-value-length="45">
                            </small>
                            <small class="text-danger" ng-if="numberForm.phoneNumber.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'PHONE_NUMBER' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--ENABLED-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'ENABLED' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="checkbox checkbox-circle">
                            <input type="checkbox" ng-model="number.enabled" ng-true-value="1" ng-false-value="0">
                            <label></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">

        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'CANCEL' | translate}}</button>

        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'SAVE' | translate}}</button>
    </div>
</div>