<!--TICKETS-->
<div class="row wrapper border-bottom white-bg page-heading" ng-if="can('VIEW_TICKETS')">
    <div class="col-lg-12">
        <h2>{{'TICKETS' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'TICKETS' | translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-if="can('VIEW_TICKETS')">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{'TICKETS' | translate}}</h5>
                    <div class="ibox-tools">
                        <button ng-if="can('CREATE_TICKET')" class="btn btn-outline btn-primary btn-xs"
                                ng-click="createTicket()">
                            <i class="fa fa-plus"></i> {{'NEW_TICKET' | translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content" st-table="ticketsTable" st-safe-src="rowCollection">

                    <div class="text-center no-data" ng-show="rowCollection.length == 0">
                        <div>{{'NO_OPENED_TICKET' | translate}}</div>
                    </div>

                    <div class="row">
                        <div ng-repeat="ticket in rowCollection">
                            <div class="clearfix" ng-if="$index % 3 == 0"></div>
                            <div class="col-lg-4 task-box">
                                <div class="contact-box ibox">
                                    <div class="header" style="border-bottom: none">
                                        <span class="label pull-right" ng-class="{'label-success': ticket.status.id == 1, 'label-warning': ticket.status.id == 2,
                                          'label-info': ticket.status.id == 3, 'label-default': ticket.status.id == 4,
                                          'label-primary': ticket.status.id == 5, 'label-danger': ticket.status.id == 6}">
                                            {{ticket.status.name}}</span>
                                        <h3><i class="fa fa-ticket"></i><a class="text-primary" ui-sref="index.ticketsDetail({id:ticket.id})"> {{ticket.subject}}</a></h3>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="team-members">
                                            <div style="font-weight: bold">
                                                <img alt="image" class="img-circle" src="style/icons/administrator.png"
                                                     style="background-color: #1ab394; border: 5px solid #1ab394;"/>
                                                {{ticket.User ? (ticket.User.first_name+' '+ticket.User.last_name) : ('NONE' | translate)}}
                                            </div>
                                        </div>
                                        <h4>{{'DESCRIPTION' | translate}}:</h4>
                                        <p>{{ticket.description}}</p>
                                        <div class="input-group">
                                            <h4>{{'PRIORITY' | translate}}: </h4>
                                            <p>{{ticket.priority.name}}</p>
                                        </div>
                                        <div class="input-group">
                                            <h4>{{'CATEGORY' | translate}}: </h4>
                                            <p>{{ticket.category.name}}</p>
                                        </div>
                                        <div>
                                            <h4>{{'DONE' | translate}}:</h4>
                                            <div class="stat-percent">{{ticket.done_ratio}}%</div>
                                            <div class="progress progress-mini">
                                                <div ng-style="{width: ticket.done_ratio+ '%'}"
                                                     class="progress-bar"></div>
                                            </div>
                                        </div>
                                        <div class="row  m-t-sm">
                                            <div class="col-sm-4">
                                                <div class="font-bold"><i class="fa fa-calendar"></i> {{'START_DATE' | translate}}</div>
                                                {{ticket.start_date ? (ticket.start_date | date:'dd.MM.yyyy HH:mm:ss') : ('NONE' | translate)}}
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="font-bold"><i class="fa fa-calendar"></i> {{'DUE_DATE' | translate}}</div>
                                                {{ticket.due_date ? (ticket.due_date | date:'dd.MM.yyyy HH:mm:ss') : ('NONE' | translate)}}
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="font-bold"><i class="fa fa-clock-o"></i> {{'ESTIMATED_HOURS' | translate}}</div>
                                                {{ticket.estimated_hours ? (ticket.estimated_hours+'h') : ('NONE' | translate)}}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="contact-box-footer" style="margin-top: 5px">
                                        <div class="btn-group">
                                            <button title="{{'EDIT' | translate}}"
                                                    style="margin-right: 2px"
                                                    ng-if="can('UPDATE_TICKET')"
                                                    ng-click="updateTicket(ticket)"
                                                    class="btn btn-outline btn-xs">
                                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                            </button>
                                            <button title="{{'CLOSE'| translate}}"
                                                    ng-if="can('CLOSE_TICKET')"
                                                    ng-click="closeTicket(ticket)"
                                                    class="btn btn-outline btn-xs">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
