<!--TICKET -DETAIL-->
<div class="row wrapper border-bottom white-bg page-heading" ng-if="can('VIEW_TICKETS')">
    <div class="col-lg-12">
        <h2>{{'TICKET' | translate}}</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.dashboard">{{'HOME' | translate}}</a>
            </li>
            <li class="active">
                <strong>{{'TICKET' | translate}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox contact-box">
            <div class="header" style="border-bottom: none">
                                        <span class="label pull-right" style="font-size: 18px" ng-class="{'label-success': ticket.status.id == 1, 'label-warning': ticket.status.id == 2,
                                          'label-info': ticket.status.id == 3, 'label-default': ticket.status.id == 4,
                                          'label-primary': ticket.status.id == 5, 'label-danger': ticket.status.id == 6}">
                                           {{ticket.status.name}}</span>
                <h2><i class="fa fa-ticket"></i> {{ticket.subject}}</h2>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="team-members">
                            <div style="font-weight: bold">
                                <img alt="image" class="img-circle" src="style/icons/administrator.png"
                                     style="background-color: #1ab394; border: 5px solid #1ab394;"/>
                                {{ticket.User ? (ticket.User.first_name+' '+ticket.User.last_name) : ('NONE' |
                                translate)}}
                            </div>
                        </div>
                        <h4>{{'PRIORITY' | translate}}: </h4>
                        <p>{{ticket.priority.name}}</p>

                        <h4>{{'CATEGORY' | translate}}: </h4>
                        <p>{{ticket.category.name}}</p>

                        <h4 class="font-bold">{{'ESTIMATED_HOURS' | translate}}: </h4>
                        <p>{{ticket.estimated_hours ? (ticket.estimated_hours+'h') : ('NONE' | translate)}}</p>
                    </div>

                    <div class="col-lg-6">
                        <h4 class="font-bold">{{'CREATED' | translate}}: </h4>
                        <p>{{ticket.created_on ? (ticket.created_on | date:'dd.MM.yyyy HH:mm:ss') : ('NONE' |
                            translate)}}</p>

                        <h4 class="font-bold">{{'LAST_UPDATED' | translate}}: </h4>
                        <p>{{ticket.updated_on ? (ticket.updated_on | date:'dd.MM.yyyy HH:mm:ss') : ('NONE' |
                            translate)}}</p>

                        <h4 class="font-bold">{{'START_DATE' | translate}}: </h4>
                        <p>{{ticket.start_date ? (ticket.start_date | date:'dd.MM.yyyy HH:mm:ss') : ('NONE' |
                            translate)}}</p>
                        <h4 class="font-bold">{{'DUE_DATE' | translate}}:</h4>
                        <p>{{ticket.due_date ? (ticket.due_date | date:'dd.MM.yyyy HH:mm:ss') : ('NONE' |
                            translate)}}</p>
                    </div>
                </div>
                <div>
                    <h4>{{'DONE' | translate}}:</h4>
                    <div class="stat-percent">{{ticket.done_ratio}}%</div>
                    <div class="progress progress-mini">
                        <div ng-style="{width: ticket.done_ratio+ '%'}"
                             class="progress-bar"></div>
                    </div>

                    <!--SEPARATOR-->
                    <div class="hr-line-dashed"></div>
                </div>
                <div>
                    <h4>{{'DESCRIPTION' | translate}}:</h4>
                    <p>{{ticket.description}}</p>

                    <!--SEPARATOR-->
                    <div class="hr-line-dashed"></div>
                </div>

                <div ng-if="ticket.attachments.length > 0">
                    <h4>{{'ATTACHMENTS' | translate}}:</h4>

                    <div ng-repeat="attachment in ticket.attachments">
                        <div class="clearfix" ng-if="$index % 6 == 0"></div>
                        <div class="col-lg-2">
                            <div class="file">
                                <a href="{{attachment.content_url}}">
                                    <span class="corner"></span>
                                    <div class="icon">
                                        <i class="fa fa-file"></i>
                                    </div>
                                    <div class="file-name">
                                        {{attachment.filename}}
                                        <br/>
                                        <small>Added: {{attachment.created_on | date:'dd.MM.yyyy HH:mm:ss'}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-t-sm">
                    <div class="col-lg-12">
                        <div class="panel blank-panel ui-tab">
                            <uib-tabset>
                                <uib-tab active="tab.active" class="dsads">
                                    <uib-tab-heading>
                                        <i class="fa fa-comment-o" aria-hidden="true"></i> {{'COMMENTS' | translate}}
                                    </uib-tab-heading>
                                    <div class="text-center no-data" ng-show="ticket.comments.length == 0">
                                        <div>{{'NO_COMMENTS' | translate}}</div>
                                    </div>
                                    <div ng-repeat="comment in ticket.comments" class="feed-activity-list">
                                        <div class="feed-element">
                                            <a href="" class="pull-left">
                                                <a href=""> <img alt="image" class="img-circle"
                                                                 src="style/icons/administrator.png"
                                                                 style="background-color: #1ab394; border: 5px solid #1ab394;"/></a>
                                            </a>

                                            <div class="media-body ">
                                                <button ng-if="can('CREATE_TICKET')" class="btn btn-outline btn-primary btn-xs pull-right"
                                                        ng-click="createTicket()">
                                                    <i class="fa fa-quote-right"></i>
                                                </button>
                                                <strong>{{comment.user.name}}</strong> posted message<br>
                                                <small class="text-muted" am-time-ago="comment.created_on"></small>
                                                <div class="well white-space-pre-line" ng-bind-html="comment.notes">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab>
                                    <uib-tab-heading>
                                        <i class="fa fa-history" aria-hidden="true"></i> {{'HISTORY' | translate}}
                                    </uib-tab-heading>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Title</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Comments</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                            </td>
                                            <td>
                                                Create project in webapp
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    Lorem Ipsum is that it has a more-or-less normal distribution of
                                                    letters, as opposed to using 'Content here, content here', making it
                                                    look like readable.
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Accepted</span>
                                            </td>
                                            <td>
                                                Various versions
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    Various versions have evolved over the years, sometimes by accident,
                                                    sometimes on purpose (injected humour and the like).
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Sent</span>
                                            </td>
                                            <td>
                                                There are many variations
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    There are many variations of passages of Lorem Ipsum available, but
                                                    the majority have suffered alteration in some form, by injected
                                                    humour, or randomised words which
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Reported</span>
                                            </td>
                                            <td>
                                                Latin words
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    Latin words, combined with a handful of model sentence structures
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Accepted</span>
                                            </td>
                                            <td>
                                                The generated Lorem
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    The generated Lorem Ipsum is therefore always free from repetition,
                                                    injected humour, or non-characteristic words etc.
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Sent</span>
                                            </td>
                                            <td>
                                                The first line
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes
                                                    from a line in section 1.10.32.
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Reported</span>
                                            </td>
                                            <td>
                                                The standard chunk
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    The standard chunk of Lorem Ipsum used since the 1500s is reproduced
                                                    below for those interested.
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                            </td>
                                            <td>
                                                Lorem Ipsum is that
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    Lorem Ipsum is that it has a more-or-less normal distribution of
                                                    letters, as opposed to using 'Content here, content here', making it
                                                    look like readable.
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="label label-primary"><i
                                                        class="fa fa-check"></i> Sent</span>
                                            </td>
                                            <td>
                                                Contrary to popular
                                            </td>
                                            <td>
                                                12.07.2014 10:10:1
                                            </td>
                                            <td>
                                                14.07.2014 10:16:36
                                            </td>
                                            <td>
                                                <p class="small">
                                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                                    It has roots in a piece of classical
                                                </p>
                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </uib-tab>

                            </uib-tabset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
