<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">

        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'COUNTRY' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">

            <!--FORM-->
            <form id="countryForm" name="countryForm" method="get" class="form-horizontal">

                <!--COMMON NAME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'COMMON_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="commonName" name="commonName" type="text" class="form-control"
                               ng-model="country.common_name" required ng-maxlength="255">
                        <div class="m-t-xs" ng-if="countryForm.commonName.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.commonName.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'COMMON_NAME' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="countryForm.commonName.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'COMMON_NAME' | translate}}"
                                   translate-value-length="255">
                            </small>
                        </div>
                    </div>
                </div>

                <!--FORMAL NAME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'FORMAL_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="formalName" name="formalName" type="text" class="form-control"
                               ng-model="country.formal_name" ng-maxlength="255">
                        <div class="m-t-xs" ng-if="countryForm.formalName.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.formalName.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'FORMAL_NAME' | translate}}"
                                   translate-value-length="255">
                            </small>
                        </div>
                    </div>
                </div>

                <!--CAPITAL-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'CAPITAL' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="capital" name="capital" type="text" class="form-control"
                               ng-model="country.capital" ng-maxlength="100">
                        <div class="m-t-xs" ng-if="countryForm.capital.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.capital.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'FORMAL_NAME' | translate}}"
                                   translate-value-length="100">
                            </small>
                        </div>
                    </div>
                </div>

                <!--CURRENCY CODE-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'CURRENCY_CODE' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="currencyCode" name="currencyCode" type="text" class="form-control"
                               ng-model="country.currency_code" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="countryForm.currencyCode.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.currencyCode.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'CURRENCY_CODE' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--CURRENCY NAME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'CURRENCY_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="currencyName" name="currencyName" type="text" class="form-control"
                               ng-model="country.currency_name" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="countryForm.currencyName.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.currencyName.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'CURRENCY_NAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--ITU CODE-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'ITU_CODE' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="ituCode" name="ituCode" type="number" class="form-control"
                               ng-model="country.itu_code" ng-maxlength="25" required>
                        <div class="m-t-xs" ng-if="countryForm.ituCode.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.ituCode.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'ITU_CODE' | translate}}"
                                   translate-value-length="25">
                            </small>
                            <small class="text-danger" ng-if="countryForm.ituCode.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'ITU_CODE' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--ISO 2 NAME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'ISO_2_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="iso2Name" name="iso2Name" type="text" class="form-control"
                               ng-model="country.iso_2_name" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="countryForm.iso2Name.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.iso2Name.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'ISO_2_NAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--ISO 3 NAME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'ISO_3_NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="iso3Name" name="iso3Name" type="text" class="form-control"
                               ng-model="country.iso_3_name" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="countryForm.iso3Name.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.iso3Name.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'ISO_3_NAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--TOP LEVEL DOMAIN-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'DOMAIN' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="topLevelDomain" name="topLevelDomain" type="text" class="form-control"
                               ng-model="country.tld" ng-maxlength="45">
                        <div class="m-t-xs"
                             ng-if="countryForm.topLevelDomain.$invalid && countryForm.submitted">
                            <small class="text-danger" ng-if="countryForm.topLevelDomain.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'DOMAIN' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>