<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">

        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'OPERATOR' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">

            <!--FORM-->
            <form id="operatorForm" name="operatorForm" role="form" method="get" class="form-horizontal">

                <!--COUNTRY-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'COUNTRY' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="country" name="country" class="form-control"
                                ng-model="operator.country_id"
                                ng-options="country.id as country.common_name for country in countries | orderBy: 'common_name'"
                                required>
                            <option value="">{{'PLEASE_SELECT' | translate}}</option>
                        </select>
                        <div class="m-t-xs" ng-if="operatorForm.country.$invalid && operatorForm.submitted">
                            <small class="text-danger" ng-if="operatorForm.country.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'COUNTRY' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--OPERATOR NAME-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="name" name="name" type="text" class="form-control"
                               ng-model="operator.name" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="operatorForm.name.$invalid && operatorForm.submitted">
                            <small class="text-danger" ng-if="operatorForm.name.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'NAME' | translate}}"
                                   translate-value-length="45"></small>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>