<!--MODAL-->
<div class="new-inmodal">

    <!--HEADER-->
    <div class="modal-header">

        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'OPERATOR_CODE' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row">
            <!--FORM-->
            <form id="operatorCodeForm" name="operatorCodeForm" method="get" class="form-horizontal">

                <!--OPERATOR-->
                <div class="form-group has-feedback" show-validation style="margin-bottom: 5px;">
                    <label class="col-sm-3 control-label">{{'OPERATOR' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="operator" name="operator" class="form-control m-b"
                                ng-model="operatorCode.operator_id"
                                disabled="true"
                                ng-options="operator.id as operator.name for operator in operators | orderBy: 'name'"
                                required>
                        </select>
                        <div class="m-t-xs" ng-if="operatorCodeForm.operator.$invalid && operatorCodeForm.submitted">
                            <small class="text-danger" ng-if="operatorCodeForm.operator.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'OPERATOR' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--PREFIX-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'PREFIX' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="prefix" name="prefix" type="number" class="form-control"
                               ng-model="operatorCode.prefix" ng-maxlength="10" required>
                        <div class="m-t-xs" ng-if="operatorCodeForm.prefix.$invalid && operatorCodeForm.submitted">
                            <small class="text-danger"
                                   ng-if="operatorCodeForm.prefix.$error && !operatorCodeForm.prefix.$error.maxlength && !operatorCodeForm.prefix.$error.required"
                                   translate="ERROR_NUMBER">
                            </small>
                            <small class="text-danger" ng-if="operatorCodeForm.prefix.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'PREFIX' | translate}}"
                                   translate-value-length="10">
                            </small>
                            <small class="text-danger" ng-if="operatorCodeForm.prefix.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'PREFIX' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--DESCRIPTION-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'DESCRIPTION' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="description" name="description" type="text" class="form-control"
                               ng-model="operatorCode.description" ng-maxlength="45" required>
                        <div class="m-t-xs" ng-if="operatorCodeForm.description.$invalid && operatorCodeForm.submitted">
                            <small class="text-danger" ng-if="operatorCodeForm.description.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'DESCRIPTION' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="operatorCodeForm.description.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'DESCRIPTION' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--MIN DIGIT-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'MIN_DIGIT' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="minDigit" name="minDigit" type="number" class="form-control"
                               ng-model="operatorCode.min_digit" required ng-maxlength="10">
                        <div class="m-t-xs" ng-if="operatorCodeForm.minDigit.$invalid && operatorCodeForm.submitted">
                            <small class="text-danger" ng-if="operatorCodeForm.minDigit.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'MIN_DIGIT' | translate}}">
                            </small>
                            <small class="text-danger"
                                   ng-if="operatorCodeForm.minDigit.$error && !operatorCodeForm.minDigit.$error.required && !operatorCodeForm.minDigit.$error.maxlength"
                                   translate="ERROR_NUMBER">
                            </small>
                            <small class="text-danger" ng-if="operatorCodeForm.minDigit.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'MIN_DIGIT' | translate}}"
                                   translate-value-length="10">
                            </small>
                        </div>
                    </div>
                </div>

                <!--MAX DIGIT-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'MAX_DIGIT' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input id="maxDigit" name="maxDigit" type="number" class="form-control"
                               ng-model="operatorCode.max_digit" required ng-maxlength="10">
                        <div class="m-t-xs" ng-if="operatorCodeForm.maxDigit.$invalid && operatorCodeForm.submitted">
                            <small class="text-danger" ng-if="operatorCodeForm.maxDigit.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'MAX_DIGIT' | translate}}">
                            </small>
                            <small class="text-danger"
                                   ng-if="operatorCodeForm.maxDigit.$error && !operatorCodeForm.maxDigit.$error.required && !operatorCodeForm.maxDigit.$error.maxlength"
                                   translate="ERROR_NUMBER">
                            </small>
                            <small class="text-danger" ng-if="operatorCodeForm.maxDigit.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'MAX_DIGIT' | translate}}"
                                   translate-value-length="10">
                            </small>
                        </div>
                    </div>
                </div>

                <!--PROPER-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'PROPER' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="checkbox">
                            <input id="proper" name="proper" type="checkbox" ng-model="operatorCode.proper">
                            <label></label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>