<!--MODAL-->
<div class="new-inmodal">
    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 class="modal-title">{{'CONFIRM' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body modal-confirm">
        <div class="row">
            <!--MESSAGE-->
            <p>{{'DELETE_MESSAGE' | translate}} <strong>{{operatorCode.description}}({{operatorCode.prefix}})</strong>?</p>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--OK-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'OK' | translate}}
        </button>
    </div>
</div>