<!--MODAL-->
<div class="new-inmodal">
    <!--HEADER-->
    <div class="modal-header">
        <!--TITLE-->
        <h4 class="modal-title">{{actionTypeLabel | translate}} - {{'TASK' | translate}}</h4>
    </div>

    <!--BODY-->
    <div class="modal-body">
        <div class="row task">
            <!--FORM-->
            <form name="schedulerForm" method="get" class="form-horizontal" novalidate>

                <!--USER-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'USER' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <select id="user" name="user" class="form-control" ng-model="task.user_id" required
                                disabled="true"
                                ng-options="user.id as user.username for user in users | orderBy: 'first_name'">
                        </select>
                        <div class="m-t-xs" ng-if="schedulerForm.user.$invalid && schedulerForm.submitted">
                            <small class="text-danger" ng-if="schedulerForm.user.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'USER' | translate}}">
                            </small>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--NAME-->
                <div class="form-group has-feedback" show-validation>
                    <label class="col-sm-3 control-label">{{'NAME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <input name="name" type="text" class="form-control" ng-model="task.name"
                               required ng-minlength="3" ng-maxlength="45">
                        <div class="m-t-xs" ng-if="schedulerForm.name.$invalid && schedulerForm.submitted">
                            <small class="text-danger" ng-if="schedulerForm.name.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'NAME' | translate}}">
                            </small>
                            <small class="text-danger" ng-if="schedulerForm.name.$error.maxlength"
                                   translate="ERROR_MAX_LENGTH"
                                   translate-value-field="{{'USERNAME' | translate}}"
                                   translate-value-length="45">
                            </small>
                        </div>
                    </div>
                </div>

                <!--START DATE-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'START_DATE' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" name="startDate" ng-model="task.scheduler_start"
                                   data-date-format="dd.MM.yyyy"  data-autoclose="1" bs-datepicker>
                            <span class="input-group-btn">
                                <button id="startDateButton" type="button" class="btn btn-default"
                                        ng-click="setCurrentDate('startDate')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="m-t-xs" ng-if="schedulerForm.startDate.$invalid && schedulerForm.submitted">
                            <small class="text-danger" ng-if="schedulerForm.startDate.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'START_DATE' | translate}}">
                            </small>
                            <small class="text-danger"
                                   ng-if="schedulerForm.startDate.$error && !schedulerForm.startDate.$error.required"
                                   translate="ERROR_DATE">
                            </small>
                        </div>
                    </div>
                </div>

                <!--END DATE-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'END_DATE' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" name="endDate" ng-model="task.scheduler_end"
                                   data-date-format="dd.MM.yyyy"  data-autoclose="1" bs-datepicker>
                            <span class="input-group-btn">
                                <button id="endDateButton" type="button" class="btn btn-default"
                                        ng-click="setCurrentDate('endDate')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                        <div class="m-t-xs" ng-if="schedulerForm.endDate.$invalid && schedulerForm.submitted">

                            <small class="text-danger"
                                   ng-if="schedulerForm.endDate.$error"
                                   translate="ERROR_DATE">
                            </small>
                        </div>
                    </div>
                </div>

                <!--START TIME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'START_TIME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" size="8" ng-model="task.start_datetime" name="startTime"
                                   bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" required>                            <span class="input-group-btn">
                                <button id="startTimeButton" type="button" class="btn btn-default"
                                        ng-click="setCurrentDate('startTime')"><i class="fa fa-clock-o"></i></button>
                            </span>
                        </div>
                        <div class="m-t-xs" ng-if="schedulerForm.startTime.$invalid && schedulerForm.submitted">
                            <small class="text-danger" ng-if="schedulerForm.startTime.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'START_TIME' | translate}}">
                            </small>
                            <small class="text-danger"
                                   ng-if="schedulerForm.startTime.$error && !schedulerForm.startTime.$error.required"
                                   translate="ERROR_DATE">
                            </small>
                        </div>
                    </div>
                </div>

                <!--END TIME-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'END_TIME' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="input-group date">
                            <input type="text" class="form-control" size="8" ng-model="task.end_datetime" name="endTime"
                                   bs-timepicker data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" required>                            <span class="input-group-btn">
                                <button id="endTimeButton" type="button" class="btn btn-default"
                                        ng-click="setCurrentDate('endTime')"><i class="fa fa-clock-o"></i></button>
                            </span>
                        </div>
                        <div class="m-t-xs" ng-if="schedulerForm.endTime.$invalid && schedulerForm.submitted">
                            <small class="text-danger" ng-if="schedulerForm.endTime.$error.required"
                                   translate="ERROR_REQUIRED"
                                   translate-value-field="{{'END_TIME' | translate}}">
                            </small>
                            <small class="text-danger"
                                   ng-if="schedulerForm.endTime.$error && !schedulerForm.endTime.$error.required"
                                   translate="ERROR_DATE">
                            </small>
                        </div>
                    </div>
                </div>

                <!--INTERVAL-->
                <div class="form-group" show-validation>
                    <label class="col-sm-3 control-label">{{'INTERVAL' | translate}}</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="input-group m-b">
                                    <input id="interval" name="interval" type="number" class="form-control"
                                           ng-model="task.interval" ng-maxlength="11" required>
                                    <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="setRandomValue('interval')">min</button></span>
                                </div>
                                <div class="m-t-xs" ng-if="schedulerForm.interval.$invalid && schedulerForm.submitted">
                                    <small class="text-danger" ng-if="schedulerForm.interval.$error.maxlength"
                                           translate="ERROR_MAX_LENGTH"
                                           translate-value-field="{{'INTERVAL' | translate}}"
                                           translate-value-length="11">
                                    </small>
                                    <small class="text-danger" ng-if="schedulerForm.interval.$error.required"
                                           translate="ERROR_REQUIRED"
                                           translate-value-field="{{'INTERVAL' | translate}}">
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <p class="text-center">+/-</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group m-b">
                                    <input id="deltaInterval" name="deltaInterval" type="number" class="form-control"
                                           ng-model="task.delta_interval" ng-maxlength="11" required max="99" min="1">
                                    <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="setRandomValue('deltaInterval')">%</button></span>
                                </div>
                                <div class="m-t-xs"
                                     ng-if="schedulerForm.deltaInterval.$invalid && schedulerForm.submitted">
                                    <small class="text-danger" ng-if="schedulerForm.deltaInterval.$error.maxlength"
                                           translate="ERROR_MAX_LENGTH"
                                           translate-value-field="{{'DELTA_INTERVAL' | translate}}"
                                           translate-value-length="11">
                                    </small>
                                    <small class="text-danger" ng-if="schedulerForm.deltaInterval.$error.required"
                                           translate="ERROR_REQUIRED"
                                           translate-value-field="{{'DELTA_INTERVAL' | translate}}">
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SEPARATOR-->
                <div class="hr-line-dashed" style="margin-top: 0"></div>

                <!--DAYS-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{'DAYS' | translate}}(s)</label>
                    <div class="col-sm-9 input-group-container">
                        <div class="col-sm-4">
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[0]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'MONDAY' | translate}}</label>
                            </div>
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[1]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'TUESDAY' | translate}}</label>
                            </div>
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[2]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'WEDNESDAY' | translate}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[3]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'THURSDAY' | translate}}</label>
                            </div>
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[4]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'FRIDAY' | translate}}</label>
                            </div>
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[5]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'SATURDAY' | translate}}</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="checkbox checkbox-circle">
                                <input type="checkbox" ng-model="task.week_days[6]" ng-true-value="1"
                                       ng-false-value="0">
                                <label>{{'SUNDAY' | translate}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--FOOTER-->
    <div class="modal-footer">
        <!--CANCEL-->
        <button type="button" class="btn btn-white" ng-disabled="status.flag" ng-click="cancel()">
            {{'CANCEL' | translate}}
        </button>
        <!--SAVE-->
        <button type="button" class="btn btn-primary" ng-disabled="status.flag" ng-click="ok()">
            {{'SAVE' | translate}}
        </button>
    </div>
</div>