<div class="new-inmodal">
    <div class="modal-header">
        <h4 class="modal-title">{{'CONFIRM' | translate}}</h4>
    </div>
    <div class="modal-body modal-confirm">
        <div class="row">
            <p ng-show="actionType == 'close'">{{'CLOSE_WIZARD_MESSAGE' | translate}}?</p>
            <p ng-show="actionType == 'stop'">{{'STOP_MESSAGE' | translate}} <strong>{{task.name}}</strong>?</p>
            <p ng-show="actionType == 'start'">{{'START_MESSAGE' | translate}} <strong>{{task.name}}</strong>?</p>
            <p ng-show="actionType == 'delete'">{{'DELETE_MESSAGE' | translate}} <strong>{{task.name}}</strong>?</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">{{'CANCEL' | translate}}</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">{{'OK' | translate}}</button>
    </div>
</div>